<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <!-- הגדרה למודול iisnode שמריץ את app.js -->
      <add name="iisnode" path="app.js" verb="*" modules="iisnode" />
    </handlers>

    <rewrite>
      <rules>
        <!-- התעלמות ממסלול debug של Node.js -->
        <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^app.js\/debug[\/]?" />
        </rule>

        <!-- ניתוב בקשות לתוכן סטטי -->
        <rule name="StaticContent">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" />
          </conditions>
          <action type="None" />
        </rule>

        <!-- ניתוב שאר הבקשות ל-app.js -->
        <rule name="DynamicContent">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
          </conditions>
          <action type="Rewrite" url="app.js" />
        </rule>
      </rules>
    </rewrite>

    <!-- קובץ ברירת מחדל בעת טעינת root -->
    <defaultDocument enabled="true">
      <files>
        <add value="app.js" />
      </files>
    </defaultDocument>

    <!-- הגדרה כללית ל-iisnode -->
    <iisnode watchedFiles="*.js" />
  </system.webServer>
</configuration>
